table {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



table {
  text-align: center;
  line-height: 50px;
  border-collapse: separate;
  border-spacing: 0;
  /* border: 2px solid #ed1c40; */
  border: 2px solid #11101D;
  width: 1000px;
  margin: 50px auto;
  border-radius: .25rem;
}


thead tr:first-child {
  /* background: #ed1c40; */
  background: #11101D;
  color: #fff;
  border: none;
}

th:first-child,
td:first-child {
  padding: 0 15px 0 20px;
}

th {
  font-weight: 500;
}

thead tr:last-child th {
  border-bottom: 3px solid #ddd;
  text-align: center;
}

tbody tr:hover {
  background-color: #f2f2f2;
  cursor: default;
}

tbody tr:last-child td {
  border: none;
}

tbody td {
  border-bottom: 1px solid #ddd;
}

td:last-child {
  text-align: center;
  padding-right: 10px;
}

.button {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -4px;
}

.edit:hover {
  color: #0a79df;
}

.delete:hover {
  color: #dc2a2a;
}